---
const title = Astro.props.title || "Site";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- OGP -->
    <meta
      property="description"
      content="This is Sahil's personal website, with links to his social media and projects."
    />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="This is Sahil's personal website, with links to his social media and projects."
    />
    <meta property="og:image" content="/ogp.png" />
    <meta property="og:url" content="https://sahil.ink" />
    <meta property="og:type" content="website" />
    <!-- Twitter -->
    <!-- <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="sahil.ink" />
    <meta property="twitter:url" content="https://sahil.ink" />
    <meta name="twitter:title" content="Sahil Deshmukh" />
    <meta name="twitter:description" content="Sahil Deshmukh" />
    <meta name="twitter:image" content="https://sahil.ink/ogp.png" /> -->

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Global styles -->
    <style is:global>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html,
      body {
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: #0a0a0a;
        overflow: hidden;
      }

      @media (max-width: 768px) {
        html {
          -webkit-text-size-adjust: 100%;
        }
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
